.DS_Store
# Ignore Python cache & environment
__pycache__/
*.pyc
*.pyo
.env
*.venv
.envrc

# Ignore Config Files (Tokens, Secrets)
config.ini

# Ignore Data Output (Raw & Processed Data)
data/raw/
data/processed/
logs/
tmp/data/raw/
tmp/data/processed/

# Ignore Docker Build Files
*.log
*.pid
*.sock
*.db
docker-compose.override.yml

# Ignore Jupyter Notebook Checkpoints
.ipynb_checkpoints/